.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "x Altitude Time Conn"
      "y Rocket Rocket Alt-chart"
      "z Rocket Rocket velocity";
  }
  
  .Rocket { grid-area: Rocket; }
  
  .Altitude { grid-area: Altitude; }
  
  .Time { grid-area: Time; }
  
  .Conn\? { grid-area: Conn\?; }
  
  .Alt-chart { grid-area: Alt-chart; }
  
  .x { grid-area: x; }
  
  .y { grid-area: y; }
  
  .z { grid-area: z; }
  
  .velocity { grid-area: velocity; }
  